.salvation {
//  background: linear-gradient(to bottom, #273c5f, #212d4a);
  background: $blue;
  padding: 60px 0 70px;
  
  &__header {
    color: #fff;
  }
  
  &__content {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__section {
    width: 100%;
    max-width: 310px;
    flex-shrink: 0;

    @include media-breakpoint-down(lg) {
      width: 250px;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 480px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 310px;
    }
  }
  
  &__block {
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 13px;
    padding: 0 5px;

    @include media-breakpoint-down(lg) {
      height: 250px;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  
  &__icon {
    width: 100%;
    height: 60px;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
  
  &__block-header {
    margin-top: 17px;
    margin-bottom: 12px;
    color: #fff;
    font-weight: 500;
  }
  
  &__target {
    font-size: 12px;
    line-height: 1.67;
    color: #fff;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin: 15px 0;
    padding-left: 15px;
    
    &:before {
      content: '';
      display: block;
      width: 14px;
      height: 71px;
      background: url(../img/arrow--vertical-primary.svg) no-repeat;
      background-size: contain;
      margin-right: 20px;
      flex-shrink: 0;
    }
  }
  
  &__benefits {
    font-size: 15px;
    line-height: 1.33;
    color: #fff;
    width: 100%;
    background: #243645;
    height: 105px;
    padding: 20px 12px 0;
    border-radius: 13px;
    margin-top: 60px;

    @include media-breakpoint-down(md) {
      text-align: center;
      padding: 20px 12px;
      height: auto;
    }
  }
  
  &__center {
    width: 310px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 13px;
    border: 2px solid #fff;
    padding: 0 10px;
  }
  
  &__company {
    font-size: 40px;
    color: #fff;

    @media screen and (max-width: 1349px) {
      font-size: 34px;
    }
  }
  
  &__center-icon {
    margin-bottom: 15px;
    width: 52px;
    height: 44px;
    margin-bottom: 15px;
  }
  
  &__arrows-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 57px;
    margin: 0 10px;

    @include media-breakpoint-down(md) {
      flex-direction: row;
      padding-top: 0;
      margin: 30px 0;
    }
    
    &--backwards {
      
      .salvation__arrow {
        transform: rotate(180deg);

        @include media-breakpoint-down(md) {
          transform: none;
        }
        
        &--primary {

          @include media-breakpoint-down(md) {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
    
  &__arrow {
    width: 151px;
    height: 14px;
    flex-shrink: 1;

    @include media-breakpoint-down(lg) {
      width: 60px;
    }

    @include media-breakpoint-down(md) {
      width: 14px;
      height: 71px;
    }
    
    &+& {
      margin-top: 76px;

      @include media-breakpoint-down(md) {
        margin-top: 0;
        margin-left: 76px;
      }
    }

    &--primary {
      background: url(../img/arrow--primary.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(lg) {
        background-size: cover;
        background-position: center right;
      }

      @include media-breakpoint-down(md) {
        background: url(../img/arrow--vertical-primary.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--secondary {
      background: url(../img/arrow--secondary.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(lg) {
        background-size: cover;
        background-position: center left;
      }

      @include media-breakpoint-down(md) {
        background: url(../img/arrow--vertical-secondary.svg) no-repeat center;
        background-size: contain;
        transform: rotate(180deg);
      }
    }
  }
}