mixin salvation(modifier)
  .salvation#how&attributes(attributes)
    .container
      .row
        .col-xl-10.offset-xl-1
          h3.salvation__header.mb-40.mb-lg-70.animated The key to solving the VC problem is to bring liquidity <br>and thus unlock the market for existing and new investors
      .row
        .col-12
          .salvation__content.animated
            .salvation__section
              .salvation__block
                .salvation__icon(style="background-image: url(./img/salvation-1.svg);")
                h4.salvation__block-header.text-center Professional Early Stage VC investors
                p.p--lh-sm.p--white.text-center.mb-0 accelerators, angel investors, venture capital firms
              //.salvation__target The Venture Exchange decentralized <br>platform allows <br>to Professional investors
              .salvation__benefits – Quicker time-to-liquidity and higher DPI <br>– Easier to raise new funds <br>– More cash for operations
            .salvation__arrows-wrapper
              .salvation__arrow.salvation__arrow--primary
              .salvation__arrow.salvation__arrow--secondary
            .salvation__center
              .salvation__center-icon(style="background-image: url(./img/salvation-2.svg);")
              h2.salvation__company VNX Marketplace
            .salvation__arrows-wrapper.salvation__arrows-wrapper--backwards
              .salvation__arrow.salvation__arrow--secondary
              .salvation__arrow.salvation__arrow--primary
            .salvation__section
              .salvation__block
                .salvation__icon(style="background-image: url(./img/salvation-3.svg);")
                h4.salvation__block-header.text-center Non-professional “Would-be” VC investors
                p.p--lh-sm.p--white.text-center.mb-0 public market investors, crypto-investors, HNIs
              //.salvation__target The Venture Exchange decentralized platform allows to “New” Investors
              .salvation__benefits – Access to a new investment class <br>– Get to invest in the best-of-best