mixin modal(modifier)
  .modal#documents&attributes(attributes)
    h4.mb-20 Documents
    //+document('White paper (2.1 mb)', 'document-1.pdf')
    //+document('One pager (2.1 mb)', 'document-2.pdf')
    +document('Corporate presentation (3 mb)', 'presentation.pdf')