h1 {
  
}

h2 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.15;
  color: $black;

  @include media-breakpoint-down(lg) {
    br {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    font-size: 34px;
  }
  
  &.h2--white {
    color: #fff;
  }
  
  &.h2--lh-sm {
    line-height: 1.12;
  }
  
  &.h2--blue {
    color: $blue;
  }
}

h3 {
  font-size: 34px;
  line-height: 1.35;
  color: $black;
  font-weight: 400;
  text-align: center;

  @include media-breakpoint-down(sm) {
    font-size: 24px;
  }

  @include media-breakpoint-down(lg) {
    br {
      display: none;
    }
  }
}

h4 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: $black;
  
  a {
    color: $black;
    @include transition;
  }
  
  &.h4--lh-lg {
    line-height: 1.4;
  }
}

p {
  font-size: 15px;
  line-height: 1.67;
  color: $black;

  @include media-breakpoint-down(sm) {
    font-size: 15px;
  }
  
  &.p--white {
    color: #fff;
  }
  
  &.p--xl {
    font-size: 21px;
    line-height: 1.19;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }
  
  &.p--lg {
    font-size: 18px;
    line-height: 1.94;
    color: $black;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
  
  &.p--md {
    font-size: 16px;
    line-height: 1.56;
    color: $black;
  }
  
  &.p--lh-sm {
    line-height: 1.33;
  }
  
  &.p--colored {
    color: #df1f26;
  }
  
  &.p--medium {
    font-weight: 500;
  }
}

b {
  font-weight: 500;
}

strong {
  font-weight: 700;
}

ul {
  
  li {
    
  }
}

ol {
  
  li {
    
  }
}

table {
  
}

tr {
  
}

th {
  
}

td {
  
}

a {
  
}

input {
  
  &:focus {
    outline: none;
  }
}

textarea {
  
  &:focus {
    outline: none;
  }
}

select {
  
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  
  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  cursor: pointer;
  border: 0;
}

img {
  
}