.step {
  display: flex;
  align-items: center;
  width: 50%;
  height: 160px;
  position: relative;
  flex-shrink: 0;

  @include media-breakpoint-down(sm) {
    width: 100%;
    height: auto;
    padding: 20px 0;
  }
  
  &:last-child {
    
    &:after {
      content: '';
      display: block;
      width: 2px;
      height: 216px;
      position: absolute;
      left: -2px;
      top: 0;

      @include media-breakpoint-down(lg) {
        width: 3px;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
  
  &__content {
    
  }
  
  &__period {
    
  }
  
  &__dscr {
    margin-bottom: 0;
  }
  
  &__icon {
    width: 74px;
    align-self: stretch;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  
  &--left {
    justify-content: flex-end;
    padding-right: 83px;
    border-right: 2px solid #fff;
    right: 0;

    @include media-breakpoint-down(lg) {
      right: -1px;
    }

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
      border-right: 0;
      border-left: 2px solid #fff;
      padding-left: 60px;
      right: 0;
      padding-right: 0;
    }
    
    &:after {
      content: '';
      display: block;
      width: 40px;
      height: 2px;
      position: absolute;
      background: #fff;
      right: 0;
      top: 50%;
      margin-top: -1px;

      @include media-breakpoint-down(sm) {
        right: auto;
        left: 0;
      }
    }
    
    .step__content {
      text-align: right;
      order: 1;

      @include media-breakpoint-down(sm) {
        text-align: left;
      }
    }
    
    .step__icon {
      order: 2;
      margin-left: 50px;
    }
  }
  
  &--right {
    padding-left: 83px;
    border-left: 2px solid #fff;
    left: -2px;
    top: 80px;

    @include media-breakpoint-down(lg) {
      left: -2px;
    }

    @include media-breakpoint-down(sm) {
      top: auto;
      left: 0;
      padding-left: 60px;
    }
    
    &:before {
      content: '';
      display: block;
      width: 40px;
      height: 2px;
      position: absolute;
      background: #fff;
      left: 0;
      top: 50%;
      margin-top: -1px;
    }
    
    .step__content {
      text-align: left;
      order: 2;
    }
    
    .step__icon {
      order: 1;
      margin-right: 50px;
    }
  }
  
  &--white {
    
    .step__period {
      color: #fff;
    }
    
    .step__dscr {
      color: #fff;
    }
  }
  
  &--secondary {
    border-color: $secondary;
    
    &:after, &:before {
      background: $secondary;
    }
    
    .step__period {
      color: $secondary;
    }
    
    .step__dscr {
      color: $secondary;
    }
  }
}