mixin step(icon, period, dscr, modifier)
  .step.animated&attributes(attributes)
    .step__content
      h4.step__period= period
      p.step__dscr= dscr
    .step__icon(style="background-image: url(./img/" + icon + ');')