mixin cover(modifier)
  .cover&attributes(attributes)
    .container
      .row
        .col-xl-6.col-lg-8
          .cover__content
            .cover__content-top
              h2.cover__header.animated Bridging the gap between venture capital and crypto industries
              .row
                .col-xl-11
                  p.cover__dscr.animated VNX is developing the world's first decentralized marketplace and trading platform, where investors can buy and sell tokenized investment portfolios of venture capital funds and accelerators
            //a.cover__video-btn.animated(href="#") Watch the video
            //a.btn.btn-outline-primary.btn-lg.animated(href="img/presentation.pdf" download) Download Presentation (2.1 mb)
            .cover__socials
              p.cover__socials-header Follow Us
              +socials