.cover {
  background: linear-gradient(to bottom, #283f50, #1c2029);
  position: relative;
  
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/cover.svg) no-repeat;
    background-position: bottom right;

    @media screen and (min-width: 1580px) {
//      background-position: top 170px center;
      background-size: 60%;
    }

    @include media-breakpoint-down(lg) {
      opacity: .2;
    }
  }
  
  &__content {
    min-height: 100vh;
    padding: 115px 0 65px;
    display: flex;
    flex-direction: column;
//    justify-content: center;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: 1349px) {
      min-height: 0;
      padding: 160px 0 100px;
    }

    @include media-breakpoint-down(sm) {
      align-items: center;
    }
  }
  
  &__content-top {
    
  }
  
  &__header {
    color: $blue;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
  
  &__dscr {
    color: #fff;
    font-size: 21px;
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 1.43;
    max-width: 97%;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
      text-align: center;
    }
  }
  
  &__video-btn {
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 33px;
    @include transition;
    
    &:before {
      content: '';
      display: block;
      width: 58px;
      height: 58px;
      border-radius: 50%;
      background: url(../img/play.svg) no-repeat;
      background-size: contain;
      margin-right: 20px;
    }
    
    &:hover {
      opacity: .7;
      color: #fff;
    }
  }
  
  &__socials {
    margin-top: 29px;
  }
  
  &__socials-header {
    text-transform: uppercase;
    color: #fff;
    font-size: 14.5px;
  }
}