mixin slider(modifier)
  .slider&attributes(attributes)
    a.slider__item(href="img/slider.jpg", data-fancybox)
      .slider__item-content(style="background-image: url(./img/slider.jpg);")
    a.slider__item(href="img/news-1.jpg", data-fancybox)
      .slider__item-content(style="background-image: url(./img/news-1.jpg);")
    a.slider__item(href="img/news-2.jpg", data-fancybox)
      .slider__item-content(style="background-image: url(./img/news-2.jpg);")
    a.slider__item(href="img/news-3.jpg", data-fancybox)
      .slider__item-content(style="background-image: url(./img/news-3.jpg);")
    a.slider__item(href="img/slider.jpg", data-fancybox)
      .slider__item-content(style="background-image: url(./img/slider.jpg);")