.slider {
  
  &__item {
    height: 484px;

    @include media-breakpoint-down(lg) {
      height: 400px;
    }

    @include media-breakpoint-down(sm) {
      height: 200px;
    }
  }
  
  &__item-content {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
