.about {
  background: linear-gradient(to bottom, #253847, #1e2129);
  padding: 55px 0;

  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  
  &__wrapper {
    max-width: 1150px;
    margin: 0 auto;
  }
  
  &__header {
    color: $blue;
    text-align: center;
    margin-bottom: 80px;

    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
      font-size: 34px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 24px;
    }
  }
  
  &__content {
    
    &:focus {
      outline: none;
    }
  }
  
  &__content-picture {
    
  }
}
