mixin about(modifier)
  .about&attributes(attributes)
    .container
      .row
        .col-12
          .about__wrapper
            h2.about__header.animated Introducing VNX Marketplace – <br>the bridge between crypto and VC world
            a.about__content.animated(href="img/about.png" data-fancybox)
              img.about__content-picture.img-fluid(src="img/about.png", alt="About")