.news {
  padding: 40px 0;
  border-bottom: 1px solid #eaeaea;
  
  &__picture {
    display: block;
    width: 100%;
    min-height: 270px;
    background-position: top center;
    background-size: cover;

    @include media-breakpoint-down(sm) {
      min-height: 200px;
      margin-bottom: 20px;
    }
  }
  
  &__content {
    padding-bottom: 50px;
    position: relative;
    flex-grow: 1;
    padding-top: 3px;
  }
  
  &__header {
    line-height: 1.4;
    margin-bottom: 15px;
  }
  
  &__date {
    font-weight: 500;
    color: #df1f26;
    font-size: 18px;
    line-height: 1.67;
  }
  
  &__share {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
