mixin news(picture, title, date, dscr, modifier)
  .news&attributes(attributes)
    .row
      .col-sm-6
        a.news__picture(href="#", style="background-image: url(./img/" + picture + ");")
      .col-sm-6.d-flex.flex-column
        .news__content
          h4.news__header
            a(href="#")= title
          p.news__date= date
          p.mb-0= dscr
          +share(class="news__share")
        