/* Bootstrap */

.container, .container-fluid {
  padding-left: 40px;
  padding-right: 40px;

  @include media-breakpoint-down(lg) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.btn {
  padding: 7.7px 21.5px 5.7px;
  font-size: 12px;
  border-radius: 3px;
  border: 2px solid $primary;
  font-weight: 700;
  
  &.btn-outline-primary {
    border-color: #df1f26;
    color: #df1f26;
    
    &:hover {
      opacity: .7;
      background: transparent;
      color: $primary;
      @include transition;
    }
  }
  
  &.btn-lg {
    padding: 10px 44px;
    font-size: 15px;
  }
  
  &.btn-md {
    padding: 11.8px 30.7px;
    font-size: 15px;
  }
}



/* Fancybox */

.fancybox-close-small {
  width: 14px;
  height: 14px;
  background: url(../img/close.svg) no-repeat;
  background-size: contain;
  top: 12px;
  right: 12px;
  
  &:after {
    display: none;
  }
}

.fancybox-slide--image {
  background: linear-gradient(to bottom, #283f50, #1c2029);
}


/* Slick */

.slick-arrow {
  width: 40px;
  height: 80px;
  background: url(../img/slider-arrow.svg) no-repeat;
  background-size: contain;
  font-size: 0;
  top: 50%;
  margin-top: -45px;
  position: absolute;
  
  &.slick-prev {
    left: -110px;
  }
  
  &.slick-next {
    transform: rotate(180deg);
    right: -110px;
  }
}

.slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  padding-left: 0;
  
  li {
    list-style: none;
    
    & + li {
      margin-left: 20px;
    }
    
    &.slick-active {
      
      button {
        background: transparent;
        border: 1px solid #d4d4d4;
      }
    }
    
    button {
      width: 10px;
      height: 10px;
      font-size: 0;
      border-radius: 50%;
      display: block;
      background: #d8d8d8;
    }
  }
}