include ../blocks/header/header.pug
include ../blocks/language/language.pug
include ../blocks/cover/cover.pug
include ../blocks/socials/socials.pug
include ../blocks/modal/modal.pug
include ../blocks/fact/fact.pug
include ../blocks/company/company.pug
include ../blocks/release/release.pug
include ../blocks/feature/feature.pug
include ../blocks/roadmap/roadmap.pug
include ../blocks/step/step.pug
include ../blocks/person/person.pug
include ../blocks/footer/footer.pug
include ../blocks/persuasion/persuasion.pug
include ../blocks/team/team.pug
include ../blocks/logo/logo.pug
include ../blocks/document/document.pug
include ../blocks/info/info.pug
include ../blocks/salvation/salvation.pug
include ../blocks/about/about.pug
include ../blocks/form/form.pug
include ../blocks/problem/problem.pug
include ../blocks/partners/partners.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/news/news.pug
include ../blocks/article/article.pug
include ../blocks/share/share.pug
include ../blocks/slider/slider.pug
include ../blocks/menu/menu.pug
