head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=Edge")
  title Venture Exchange
  link(rel='shortcut icon', href="img/favicon.ico", type="image/x-icon")
  link(rel='stylesheet', href='css/style.css?version=5')
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
  meta(name="format-detection", content="telephone=no")
  link(rel="apple-touch-icon", sizes="76x76", href="img/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="img/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="img/favicon-16x16.png")
  link(rel="manifest", href="img/site.webmanifest")
  link(rel="mask-icon", href="img/safari-pinned-tab.svg", color="#5bbad5")
  meta(name="msapplication-TileColor", content="#da532c")
  meta(name="theme-color", content="#ffffff")