.breadcrumbs {
  background: #222f3c;
  margin-top: 75px;
  
  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 17.64px 0;
  }
  
  &__item {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 1.67;
    color: #fff;
    text-decoration: none;
    @include transition;
    
    &:hover {
      opacity: .7;
      color: #fff;
    }
    
    &:after {
      content: '';
      display: block;
      width: 20px;
      height: 5px;
      background: url(../img/arrow--white.svg) no-repeat;
      background-size: contain;
      margin: 0 7px;
    }
    
    &--current {
      color: #6a7f8c;
      
      &:hover {
        color: #6a7f8c;
        opacity: 1;
      }
      
      &:after {
        display: none;
      }
    }
  }
}