mixin release(modifier)
  .release&attributes(attributes)
    .container
      .row
        .col-xl-6.col-lg-5
          h2.mb-30.mb-sm-55.animated Release 1.0 is ready
          p.p--lg.mb-30.mb-sm-55.animated To help early stage investors to get an opportunity to get investment income in less than 10-15 years and financial investors to get an opportunity to invest in fast-growing private technology companies.
          a.btn.btn-outline-primary.btn-md.animated(href="http://vf.phenom.team" target="_blank") Log in to try
    img.release__picture(src="img/release.png", alt="Laptop")