mixin socials(modifier)
  .socials&attributes(attributes)
    a.socials__item.socials__item--li(href="https://www.linkedin.com/company/vnx-company/", target="_blank")
    a.socials__item.socials__item--tw(href="https://twitter.com/vnx_io", target="_blank")
    a.socials__item.socials__item--tg(href="https://t.me/vnx_io_channel", target="_blank")
    a.socials__item.socials__item--tg(href="https://t.me/vnx_io", target="_blank")
    a.socials__item.socials__item--bc(href="https://bitcointalk.org/index.php?topic=3756263.new#new", target="_blank")
    a.socials__item.socials__item--md(href="https://medium.com/@vnx.io/vnx-decentralized-marketplace-for-vc-investors-27f093e7564f", target="_blank")