.socials {
  display: flex;
  align-items: center;
  
  &__item {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    @include transition;
    
    &:hover {
      opacity: .7;
    }
    
    &+& {
      margin-left: 11px;
    }
  
    &--li {
      background: url(../img/li.svg) no-repeat;
      background-size: contain;
    }
  
    &--fb {
      background: url(../img/fb.svg) no-repeat;
      background-size: contain;
    }

    &--tw {
      background: url(../img/tw.svg) no-repeat;
      background-size: contain;
    }

    &--tg {
      background: url(../img/tg.svg) no-repeat;
      background-size: contain;
    }

    &--md {
      background: url(../img/md.svg) no-repeat;
      background-size: contain;
    }

    &--bc {
      background: url(../img/bc.svg) no-repeat;
      background-size: contain;
    }

    &--em {
      background: url(../img/em.svg) no-repeat;
      background-size: contain;
    }
  }
}