mixin team(modifier)
  .team#team&attributes(attributes)
    h2.h2--blue.text-center.mb-40.mb-sm-85.animated Team
    .row
      .col-10.offset-1
        .row
          .col-sm-6
           +person('person-11.jpg', 'Vladimir Khanumyan ', 'Chairman', 'Former COO of CTC Media – one of the largest Russian media companies which he listed on the New York Stock Exchange. Co-owner of the Sony Pictures Television Russia')
          .col-sm-6
           +person('person-12.jpg', 'Dominique Valschaerts', 'Member of the Board', 'Former CEO of Brussels Stock Exchange, former member of executive committee of Luxembourg Stock Exchange')
          .col-sm-6
           +person('person-1.jpg', 'Alexander Tkachenko', 'Founder/President', 'Founder of 2be.lu VC  and crypto funds. Serial entrepreneur. Business angel. MBA London Business School and Columbia University')
          .col-sm-6
           +person('person-4.jpg', 'Anton Abashkin', 'COO', "Co-founded PwC's Center for Technology and Innovation, 12+ years in consulting and M&A deal advisory, 8+ years in VC and technology entrepreneurship")
          .col-sm-6
           +person('person-3.jpg', 'Anton Zavyalov', 'Head of blockchain', '14 year management experience in IT industry. Co-founder dalongpay.com.  Crypto gateway. MBA RANEPA and International Academy of ICO (IAC)')
          //.col-sm-6
           +person('person-13.jpg', 'Onenne Partsch', 'Legal', '12+ years as independent lawyer, advising various EU institutions, including CSSF and IMF, on legal and compliance aspects.  Former legal counsel at Central bank of Luxembourg.')