.info {
  background: $gradient;
  position: relative;
  padding-top: 40px;
  
  &__bg {
//    position: absolute;
//    left: 0;
//    top: 0;
//    width: 100%;
//    height: 100%;
//    
//    &:before {
//      content: '';
//      display: block;
//      width: 100%;
//      height: 100vh;
//      background: red;
//      position: sticky;
//      top: 0;
//      background: url(../img/roadmap-1.svg) no-repeat left center, url(../img/roadmap-2.svg) no-repeat right center;
//
//      @include media-breakpoint-down(sm) {
//        background: url(../img/roadmap-1.svg) no-repeat;
//        background-size: contain;
//      }
//    }
  }
}
