mixin footer(modifier)
  .footer&attributes(attributes)
    .container
      .row
        .col-12
          .footer__content
            span.footer__text Contacts: 
              a(href="mailto:info@vnx.io") info@vnx.io
            span.footer__text © 2018 Venture Exchange
      .row
        .col-10.offset-1
          .footer__copyright This web-site was created solely for purposes of familiarization with the product based on distributed ledger technology, and is not a public offer or a commercial or investment proposal. The regulatory status of the distributed ledger technology is unclear or unsettled in many jurisdictions. This web-site may become unsuitable for a jurisdiction where a regulatory action is pursued or changes to laws and regulations are adopted. As a result this web-site may be closed in such jurisdiction.