.footer {
  padding: 17.6px 0;
  background: #243645;

  @include media-breakpoint-down(lg) {
    padding: 20px 0;
  }
  
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__text {
    font-size: 15px;
    line-height: 1.67;
    color: #fff;
    
    a {
      color: #fff;
    }
    
    &+& {
      display: flex;
      align-items: baseline;

      @include media-breakpoint-down(sm) {
        border-top: 1px solid $primary;
        margin-top: 10px;
        padding-top: 10px;
      }
      
      &:before {
        content: '|';
        display: block;
        color: $primary;
        margin-left: 15px;
        margin-right: 15px;

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }
  
  &__copyright {
    font-size: 12px;
    opacity: .3;
    line-height: 1.25;
    color: #fff;
    text-align: center;
    margin-top: 17px;
  }
}
