.partners {
  padding: 55px 0 100px;
  
  &__content {
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__section {
    
    &+& {
      margin-left: 100px;

      @include media-breakpoint-down(md) {
        margin-top: 70px;
        margin-left: 0;
      }
    }
  }
  
  &__section-header {
    font-size: 23px;
    font-weight: 700;
    line-height: 1.52;
    color: $dark;
    margin-bottom: 53px;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px!important;
    }
  }
  
  &__section-content {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__logo {
    display: block;
  }
  
  &__person {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__person-photo {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background: url(../img/partners-person-1.jpg) no-repeat;
    background-size: cover;
    margin: 0 20px;

    @include media-breakpoint-down(sm) {
      margin: 20px 0;
    }
  }
  
  &__person-dscr {
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
}

    @include media-breakpoint-down(sm) {
      text-align: center;
    }