mixin partners(modifier)
  .partners&attributes(attributes)
    .container
      .row
        .col-xl-10.offset-xl-1
          .partners__content
            .partners__section
              h4.partners__section-header Legal Advisor
              .partners__section-content
                a.partners__logo(href="https://www.elvingerhoss.lu/")
                  img(src="img/partner-1.png", alt="Logo")
                .partners__person
                  .partners__person-photo(style="background-image: url(./img/partner-person-1.jpg);")
                  p.partners__person-dscr Team led by <strong>Luc Frieden</strong>, Partner.<br>Former Luxembourg Minister <br>of Finance (2009-2013) <br>and Minister of Justice (1998-2009)
            .partners__section
              h4.partners__section-header Partner
              .partners__section-content
                a.partners__logo(href="https://infrachain.com/")
                  img(src="img/partner-2.png", alt="Logo")