extends ../templates/template.pug
block content
  +header
  .breadcrumbs
    .container
      .row
        .col-12
          .breadcrumbs__content
            a.breadcrumbs__item(href="#") Main page
            a.breadcrumbs__item(href="#") Our news
            span.breadcrumbs__item.breadcrumbs__item--current Round table: Are security tokens poised to scale in 2018 
  .container.mt-45.mb-50.pb-15
    .row
      .col-xl-8.offset-xl-2.text-center
        p.p--lg.p--colored.p--medium.mb-40 15-16 May 2018, Luxembourg
        h2.h2--lh-sm.mb-50 Round table: Are security tokens poised to scale in 2018
        p.p--xl.mb-55 VNX took part in the round table “Are security tokens poised to scale in 2018” took place on 9 May 2018 at LHoFT, Luxembourg’s dedicated fintech platform.
        +slider(class="mt-50 mb-100")
        .text-left
          p.p--md VNX took part in the round table “Are security tokens poised to scale in 2018” took place on 9 May 2018 at LHoFT, Luxembourg’s dedicated fintech platform. The roundtable was in presence of the working groups on crypto assets and Initial Coin Offerings (ICO) from the LHoFT, which is composed of various top law firms, consultancy firms and actors from the blockchain and crypto assets community in Luxembourg
          p Infrachain Summit is the blockchain gathering in Luxembourg where governance meets technology and compliance meets operations. During our one-day seminar we will discuss how Blockchain can evolve from a technology hype to revenue generating applications.
          p We will focus on the governance and compliance aspects of Blockchain without loosing out of sight the technical implications.
          p We will also give the floor to Blockchain Use cases to present the brave new world of 3rd party distributed trust.
        .d-flex.justify-content-center.mt-60
          +share
  +footer