extends ../templates/template.pug
block content
  +header
  +cover
  .container.pt-40.pt-sm-65
    .row
      .col-10.offset-1
        h3.mb-40.mb-sm-70.animated Venture capital is one of the world's major drivers of innovation, entrepreneurship and economic growth
    .row
      .col-sm-6.col-xl-3.d-flex.mb-20
        +fact('$169', 'bn', 'Annual VC investment')
      .col-sm-6.col-xl-3.d-flex.mb-20
        +fact('10,000', '+', 'Companies funded every year')
      .col-sm-6.col-xl-3.d-flex.mb-20
        +fact('57', '%', 'Сapitalization of public VC-backed companies*')
      .col-sm-6.col-xl-3.d-flex.mb-20
        +fact('82', '%', 'Of total R&D spending by US public companies is made by VC-backed businesses')
    .row.mt-40.mb-30.mb-sm-60
      .col-xl-10.offset-xl-1
        h3.animated.mb-0 Venture capital enabled hundreds of technological breakthroughs and helped many great companies shape the world we know, driving the digital and information revolution of the 20/21 century
    //.row
      .col-6.col-sm-3
        h3.mb-35.animated Google
        h3.mb-35.animated Uber
        h3.mb-35.animated Alibaba
      .col-6.col-sm-3
        h3.mb-35.animated Dropbox
        h3.mb-35.animated Apple
        h3.mb-35.animated Yelp
      .col-6.col-sm-3
        h3.mb-35.animated Facebook
        h3.mb-35.animated Tesla
        h3.mb-35.animated Stripe
      .col-6.col-sm-3
        h3.mb-35.animated Amazon
        h3.mb-35.animated Skype
        h3.mb-35.animated Spotify
        //.d-flex.align-items-center.justify-content-around.flex-wrap.flex-lg-nowrap          
          +company('company-1.svg')
          +company('company-2.svg')
          +company('company-3.svg')
          +company('company-4.svg')(class="company--yelp")
          +company('company-5.svg')
          +company('company-6.svg')
          +company('company-7.svg')
        //.d-flex.align-items-center.justify-content-around.flex-wrap.flex-lg-nowrap          
          .d-flex.flex-lg-column.align-items-end
            +company('company-8.svg')
            +company('company-9.svg')(class="mt-25")
          +company('company-10.svg')
          +company('company-11.svg')
          .d-flex.flex-lg-column.align-items-end
            +company('company-12.svg')
            +company('company-13.svg')(class="mt-15")
          +company('company-14.svg')
  .bg-light.mt-55.pt-70.pb-65
    .container
      .row
        .col-10.offset-1
          h3.mb-60.animated However, for many years VC has remained <br>a relatively small industry, closed for majority of regular investors 
      .row
        .col-lg-4
          +problem('problem-1.svg', 'High complexity', 'VC investing requires significant market expertise, strong networks and years of experience to find, assess and manage quality investments. Deal structures are often so complicated that in some cases legal docs can exceed 200 pages')
        .col-lg-4
          +problem('problem-3.svg', 'Capital is locked up', 'It takes an average of 10-12 years for a VC fund to return capital to their investors. Individual investments rarely allow to exit before 5-7 years.')(class="problem--main")
        .col-lg-4
          +problem('problem-2.svg', 'High entry tickets', 'In order to invest individually one should expect to commit $100k+ per single investment and bare a high diversification risk. Investing into a VC fund requires at least $1mn in capital and for most “outsiders” it is nearly impossible to get in.')
  +salvation
  +about
  +persuasion
  //+release
  .info
    .info__bg
    //+roadmap
    .container
      .row
        .col-12
          +team
    .container#advisors.pt-70
      .row
        .col-12
          h2.h2--blue.text-center.mb-40.mb-sm-85 Advisors
      .row
        .col-10.offset-1
          .row
            .col-sm-6
              +person('person-5.jpg', 'Michael Blakey', '', 'Co-founded Avonmore Developments (UK) in 2000 “Angel Investor of the Year” by the UKBAA in 2015 On “The Maserati 100 List” in the UK in 2016')(class="person--advisor")
            .col-sm-6
              +person('person-6.jpg', 'Will Klippgen', '', 'Co-founder & CTO of European shopping portal Zoomit / Kelkoo which sold to Yahoo! for $576 million Judge on Singapore’s reality TV-series “Angel’s Gate” 2010 Singapore Venture Capital Association award')(class="person--advisor")
            .col-sm-6
              +person('person-7.jpg', 'Andy Shannon', '', 'Head of Global Startupbootcamp one of the world’s largest startup investors, which he grew from 3 to 18 offices across 11 countries and 400 portfolio companies')(class="person--advisor")
            .col-sm-6
              +person('person-8.jpg', 'Magnus Grimeland', '', 'Founder Antler Innovation accelerator Singapore. Co-founded Zalora (bought by GFG), managed  Lazada (bought by Alibaba)')(class="person--advisor")
  +partners
  +footer