extends ../templates/template.pug
block content
  +header
  .breadcrumbs
    .container
      .row
        .col-12
          .breadcrumbs__content
            a.breadcrumbs__item(href="#") Main page
            span.breadcrumbs__item.breadcrumbs__item--current Our news
  .container.pt-55
    .row
      .col-xl-8.offset-xl-2
        h2.text-center.mb-sm-25.h4--lh-lg Our news
        +news('news-1.jpg', 'Round table: Are security tokens poised to scale in 2018', '9 May 2018, Luxembourg', 'VNX took part in the round table “Are security tokens poised to scale in 2018” took place on 9 May 2018 at LHoFT, Luxembourg’s dedicated fintech platform.')
        +news('news-2.jpg', 'ICT Spring', '15-16 May 2018, Luxembourg', 'As an influential voice in the worldwide Tech community,  the aim of ICT Spring is to encourage emulation and networking  between business decisions makers, innovation managers, startups,  researchers and venture capitalists on a European scale.')
        +news('news-3.jpg', 'Infrachain Summit 2018', '17 May 2018, Luxembourg', 'Infrachain Summit is the blockchain gathering in Luxembourg where governance meets technology and compliance meets operations.')
        .d-flex.justify-content-center.mt-40.mb-80
          a.btn.btn-outline-primary.text-uppercase(href="#") Show more
  +footer