mixin share(modifier)
  .share&attributes(attributes)
    a.share__item(href="#", style="background-image: url(./img/share-fb.svg);")
    a.share__item(href="#", style="background-image: url(./img/share-tg.svg);")
    a.share__item(href="#", style="background-image: url(./img/share-tw.svg);")
    a.share__item(href="#", style="background-image: url(./img/share-li.svg);")