.share {
  display: flex;
  
  &__item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #d4d4d4;
    background-position: center;
    display: block;
    background-repeat: no-repeat;
    @include transition;
    
    &:hover {
      opacity: .7;
    }
    
    &+& {
      margin-left: 10px;
    }
  }
}
