.logo {
  width: 101px;
  height: 41px;
  display: block;
  background: url(../img/logo.svg) no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  @include media-breakpoint-down(md) {
    position: static;
    transform: none;
  }
}
