.persuasion {
  background: $black url(../img/persuasion.png) no-repeat;
  background-size: cover;
  padding: 85px 0 80px;

  @include media-breakpoint-down(sm) {
    background-attachment: fixed;
    padding: 40px 0;
  }
}
