mixin persuasion(modifier)
  .persuasion#why&attributes(attributes)
    .container
      .row
        .col-12
          h2.h2--white.text-center.mb-40.mb-sm-85.animated Why Luxembourg?
    .container
      .row
        .col-sm-6.col-xl-3.d-flex.mb-20
          +feature('feature-1.svg', '~$3,5tn in assets under management', 'With ~$3,5tn in assets under management, Luxembourg is a leading European financial hub and the 2’d largest fund center globally, trusted by fund managers from over 70 countries')
        .col-sm-6.col-xl-3.d-flex.mb-20
          +feature('feature-2.svg', 'Friendly regulatory environment and tax regime', 'Luxembourg offers an investor friendly regulatory environment and tax regime, which is driven by a forward-looking government that is focused on supporting innovation')
        .col-sm-6.col-xl-3.d-flex.mb-20
          +feature('feature-3.svg', 'Center of gravity in the decentralized economy', 'Luxembourg is one of the European centers of gravity in the rapidly emerging decentralized economy with licensed crypto exchanges Bitstamp and Bitflyer and support to the blockchain community by LHOFT, a government backed FinTech accelerator ')
        .col-sm-6.col-xl-3.d-flex.mb-20
          +feature('feature-4.svg', 'Major center for alternative investment classes', 'Luxembourg is also a major center for alternative investment classes with more than 20% of assets managed by alternative fund managers')