mixin feature(icon, header, dscr, modifier)
  .feature.animated&attributes(attributes)
    .feature__icon(style="background-image: url(./img/" + icon + ');')
    h4.feature__header= header
    p.feature__dscr= dscr