.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background: rgba(#fff, .88);
  border-radius: 13px;
  text-align: center;
  
  &__icon {
    margin-bottom: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #df1f26;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  &__header {
    min-height: 100px;
    margin-bottom: 25px;

    @include media-breakpoint-down(lg) {
      min-height: 0;
    }
  }
  
  &__dscr {
    margin-bottom: 0;
    line-height: 1.47;
  }
}
