mixin language(modifier)
  .language&attributes(attributes)
    a.language__item.language__btn(href="#") English
    .language__content
      a.language__item(href="#") Russian
      a.language__item(href="#") Chinese