.language {
  position: relative;
  display: none;
  
  &__item {
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    line-height: 2.5;
    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 10px;
    }
    
    &:hover {
      opacity: .8;
      color: #fff;
    }
  }
  
  &__btn {

    &:after {
      content: '';
      display: block;
      border-width: 4px 3px 0 3px;
      border-color: #fff transparent transparent transparent;
      border-style: solid;
      margin-left: 10px;

      @include media-breakpoint-down(sm) {
        margin-left: 5px;
      }
    }
  }
  
  &__content {
    display: none;
    position: absolute;
    background: $black;
    padding: 0 20px;
    left: -20px;
  }
}
