.problem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  margin-bottom: 20px;

  @include media-breakpoint-down(lg) {
    padding: 0;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }

  &__icon {
    width: 90px;
    height: 81px;
    background-position: center;
    margin-bottom: 25px;
    background-repeat: no-repeat;
  }
  
  &--main {
    
    h3 {
      font-weight: 700;
    }
  }
}
