mixin problem(icon, header, dscr, modifier)
  .problem.animated&attributes(attributes)
    .problem__icon(style="background-image: url(./img/" + icon + ');')
    h3.mb-20.mb-lg-35= header
    p.mb-0.text-center= dscr
