.person {
  display: flex;
  margin-bottom: 90px;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }
  
  &__photo {
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
    margin-right: 20px;
    border-radius: 50%;

    @include media-breakpoint-down(lg) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  
  &__content {
    
  }
  
  &__name {
    margin-bottom: 8px;
  }
  
  &__position {
    color: #df1f26;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.67;
  }
  
  &__dscr {
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      max-width: 90%;
      margin: 0 auto;
    }
  }
  
  &--advisor {
    margin-bottom: 60px;
    
    .person__name {
      color: #fff;
    }
    
    .person__dscr {
      color: #fff;
      opacity: .5;
    }
  }
}