mixin person(photo, name, position, dscr, modifier)
  .person&attributes(attributes)
    .person__photo.animated(style="background-image: url(./img/" + photo + ');')
    .person__content
      h4.person__name.animated= name
      p.person__position.animated= position
      p.person__dscr.animated= dscr