mixin menu(modifier)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      a.menu__link(href="#how") How it works
      a.menu__link(href="#why") Why Luxembourg
      a.menu__link(href="#team") Team
      a.menu__link(href="#advisors") Advisors
      a.menu__link(href="/news") Our news