.menu {
  width: 100%;

  @include media-breakpoint-down(md) {
    width: auto;
  }
  
  &__btn {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
      width: 30px;
      height: 30px;
      position: relative;
      background: url(../img/menu.svg) no-repeat center;
      background-size: 20px 20px;
    }
    
    &--active {
      z-index: 2;
      background: url(../img/close.svg) no-repeat center;
      background-size: 20px 20px;
    }
  }
  
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(md) {
      display: none;
    }
    
    &--active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      left: 0;
      top: 0%;
      width: 100%;
      background: #fff;
      min-height: 100vh;
      z-index: 1;
      padding: 0 20px;
    }
  }
  
  &__link {
    font-size: 16px;
    font-weight: 500;
    color: $blue;
    border-bottom: 3px solid transparent;
    padding: 27px 0 21px;

    @include media-breakpoint-down(md) {
      font-size: 26px;
    }
    
    &+& {
      margin-left: 30px;

      @include media-breakpoint-down(md) {
        margin-left: 0;
      }
    }
    
    &--active {
      border-color: #236adb;
    }
  }
}
