.header {
  background: #f0f2f3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-shadow:  0 2px 4px 0 rgba(36, 54, 69, 0.1);
  
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include media-breakpoint-down(md) {
      padding: 17px 0;
    }
  }
  
  &__right {
    display: flex;
    align-items: center;
  }
  
  &__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.39;
    color: #fff;
    text-decoration: none;
    @include transition;
    padding: 17.6px 0;
    border-bottom: 3px solid transparent;
    @include transition;
    
    &--active, &:hover {
      border-color: #fff;
      color: #fff;
    }
  }
}