mixin header(modifier)
  .header&attributes(attributes)
    .container
      .row
        .col-12
          .header__content
            +logo
            +menu
            //.header__right
              a.header__link.header__link--active(href="#") Our news
              //+language
              //a.btn.btn-outline-primary.ml-10.ml-sm-20(href="#documents" data-fancybox) DOCUMENTS
              //+modal
    if block
      block