.roadmap {
  padding-top: 80px;
  padding-bottom: 136px;

  @include media-breakpoint-down(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  &__wrapper {
    
  }
}
