mixin roadmap(modifier)
  .roadmap&attributes(attributes)
    .container
      .row
        .col-12
          .roadmap__wrapper
            h2.h2--white.text-center.mb-40.mb-sm-70.animated Roadmap
            .roadmap__content
              +step('step-1.svg', 'July – August 2017', 'Concept')(class="step--left step--white")
              +step('step-2.svg', 'September 2017 – January 2018 ', 'Development of Release 1.0 platform')(class="step--right step--white")
              +step('step-3.svg', 'March – May 2018 ', 'Building out the team and operations')(class="step--left step--white")
              +step('step-4.svg', 'May – July 2018', 'Signing key partnerships')(class="step--right step--secondary")
              +step('step-5.svg', 'April – November 2018', 'Release 2.0 development ')(class="step--left step--secondary")
              +step('step-6.svg', 'September – November 2018', 'Signing up first Issuers')(class="step--right step--secondary")
              +step('step-7.svg', 'April 2018 – June 2019', 'Work with regulators on being licensed as an e-payment institution in Luxembourg ')(class="step--left step--secondary")
              +step('step-8.svg', 'Q3 2019', 'Launch of the platform')(class="step--right step--secondary")