mixin fact(number, attribute, dscr, modifier)
  .fact.animated&attributes(attributes)
    .fact__header
      span.fact__header-number= number
      span.fact__header-attribute= attribute
    p.fact__dscr= dscr
    