.fact {
  width: 100%;
  border: 2px solid #8ecb88;
  padding: 39px 30px 30px;
  border-radius: 13px;
  text-align: center;

  @include media-breakpoint-down(sm) {
    padding: 20px;
  }
  
  &__header {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  &__header-number {
    
  }
  
  &__header-attribute {
    color: #df1f26;
  }
  
  &__dscr {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    line-height: 1.5;
    min-height: 67px;
    justify-content: center;

    @include media-breakpoint-down(lg) {
      min-height: 0;
    }
  }
}
